.settings-list {
  padding: 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.settings-settings {
  padding: 20px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  font-size: 18px;
  display: flex;
  align-items: center;
}

.settings-settings:last-child {
  border-bottom: none;
}

.settings-settings i {
  margin-right: 20px;
  font-size: 22px;
}

.settings-additional {
  display: flex;
  justify-content: space-between;
}

.settings-additional span:last-child {
  color: rgba(0, 0, 0, 0.3);
}
