.nav {
  border-top: 1px solid rgba(121, 121, 121, 0.3);
  background-color: #f9f9fa;
  width: 100%;
  height: 56px;
  position: fixed;
  bottom: 0;
}

.nav__list {
  height: inherit;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__btn {
  width: 25%;
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav_btn:active {
  background-color: #aeaeae;
}

.nav__link {
  color: #2e363e;
  position: relative;
}

.badge__message {
  width: 20px;
  height: 20px;
  top: -12px;
  right: -12px;
}

.badge__ellipsis {
  width: 5px;
  height: 5px;
  top: -3px;
  right: -5px;
}
